# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.tox/
.nox/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/
